<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Annulation de réservation</h1>
    <p>
      Bonjour,
    </p>
    <p>
      Nous vous informons que la réservation du client <%= @user.email %> le <%= @reservation.date %> à <%= @reservation.time %> pour <%= @reservation.number %> personnes dans votre restaurant a été annulée.
    </p>
    <p>
      Si vous avez des questions, n'hésitez pas à nous contacter.
    </p>
    <p>À très vite sur MENU !</p>
  </body>
</html>